     <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-warning card-header-icon" >
                    <div class="card-icon">

                        <i nz-icon nzType="user" nzTheme="outline"></i>
                    </div>
                 <!-- <div>{{totalemployees}}</div> -->
                    <p class="card-category"> {{totalemployees}} No of Employees</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="material-icons">users</i> -->
                        <i nz-icon nzType="team" nzTheme="outline"></i>
                    </div>
                    <p class="card-category">No of Users</p>
                    
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="material-icons">projects</i> -->
                        <i nz-icon nzType="project" nzTheme="outline"></i>
                    </div>
                    <p class="card-category">{{totalprojects}}No of Projects</p>
                    
                </div>
               
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <!-- <i class="material-icons">departments</i> -->
                        <i nz-icon nzType="home" nzTheme="outline"></i>
                    </div>
                    <p class="card-category">No of Departments</p>
                    
                </div>
               
            </div>
        </div>
        
    </div>
